html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(135deg, #4c1d95, #1e1b4b, #020617);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: "Segoe UI", sans-serif;
}
