html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #4c1d95, #1e1b4b, #020617);
  background-attachment: fixed;
  color: white;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.sidebar {
  width: 220px;
  height: 100vh;
  padding: 25px;
  background: rgba(2, 6, 23, 0.7);
  backdrop-filter: blur(20px);
}
